<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-white p-3 d-flex flex-column justify-content-between" id="sidebar">
      <div>
        <div class="text-center mb-4 mt-4">
          <img src="assets/image/logo.png" alt="Usuario" class="img-fluid" style="width: 100px; height: 100px;">
        </div>
        <ul class="list-group text-white sidebar-list">
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('inicio')">
            <i class="pi pi-home me-3 fw-bold"></i> Inicio
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('citas')">
            <i class="pi pi-calendar me-3 fw-bold"></i> Citas Asignadas
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('cita')">
            <i class="pi pi-calendar me-3 fw-bold"></i> Citas
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('casos')">
            <i class="pi pi-briefcase me-3 fw-bold"></i> Casos
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('documentos')">
            <i class="pi pi-briefcase me-3 fw-bold"></i> Documentos
          </li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-danger w-100" (click)="logout()"><i class="pi pi-sign-out"></i> Cerrar Sesión</button>
      </div>
    </div>
    <div class="col container-admin">
      <app-navbar></app-navbar>
      <div *ngIf="currentSection === 'inicio'">
        <h2>Panel del abogado</h2>
        <div class="row justify-content-center mt-5">
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Citas Asignadas</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalCitas}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Citas Aceptadas</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{ totalCitasAceptadas }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Citas Rechazadas</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{ totalCitasRechazadas }}</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Fila adicional para Citas Creadas y Casos -->
        <div class="row justify-content-center mt-4">
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Citas Pendientes</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{ totalCitasPendientes }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Casos a cargo</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">0</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Casos en curso</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">0</p>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row justify-content-center mt-4">
          <!-- <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5>Total de Casos cerrados</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">0</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div *ngIf="currentSection === 'citas'">
        <app-citas-asignadas></app-citas-asignadas>
      </div>
      <div *ngIf="currentSection === 'cita'">
        <h2 class="mb-3">Mis citas</h2>
        <div class="d-flex justify-content-between mb-3">
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextCitas"
              (input)="filterCitas()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredCitas" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Descripcion</th>
                <th>Abogado</th>
                <th>Cliente</th>
                <th>Fecha y Hora de la Cita</th>
                <th>Duración</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cita>
            <tr>
              <td>{{ cita.descripcion }}</td>
              <td>{{ cita.nombreAbogado }}</td>
              <td>{{ cita.nombreCliente }}</td>
              <td>{{ cita.fechaHora | date:'dd/MM/yyyy' }}</td>
              <td>{{ cita.duracion }} Minutos</td>
              <td>{{ cita.estado }}</td>
              <td><button
                class="btn btn-primary me-3"
                title="Editar cita"

              >
                <i class="pi pi-pencil"></i>
              </button>
              <button class="btn btn-danger" title="Eliminar cita" (click)="eliminarCita(cita.citaId)">
                <i class="pi pi-trash"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
        <p-toast></p-toast>
        <p-dialog [visible]="displayModalCrearCaso" [modal]="true" [style]="{ width: '50rem'}" [closable]="true">
          <ng-template pTemplate="header">
            <h4>Crear Caso</h4>
          </ng-template>
          <app-crear-caso (crearCaso)="crearCaso($event)"></app-crear-caso>
          <ng-template pTemplate="footer">
            <button class="btn btn-danger" (click)="displayModalCrearCaso = false">Cerrar</button>
          </ng-template>
        </p-dialog>
        <!-- <app-casos-realizados></app-casos-realizados> -->
      </div>
      <div *ngIf="currentSection === 'casos'">
        <h2 class="mb-3">Mis casos</h2>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-success mb-3" (click)="formularioCaso()">
            <i class="pi pi-plus"></i> Crear Caso
          </button>
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextCasos"
              (input)="filterCasos()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredCasos" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Asunto</th>
              <th>Cliente</th>
              <th>Abogado</th>
              <th>Fecha de registro del caso</th>
              <th>Duracion del caso</th>
              <th>Fecha de Finalizacion del caso</th>
              <th>Estado</th>
              <th>Tipo de Caso</th>
              <th>Progreso del caso</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-caso>
            <tr>
              <td>{{ caso.asunto }}</td>
              <td>{{ caso.nombreCliente }}</td>
              <td>{{ caso.nombreAbogado }}</td>
              <td>{{ caso.fechaRegistro | date:'dd/MM/yyyy' }}</td>
              <td>{{ caso.duracion }} Días</td>
              <td>{{ caso.fechaFinalizacion | date:'dd/MM/yyyy' }}</td>
              <td>{{ caso.estado }}</td>
              <td>{{ caso.tipoCaso }}</td>
              <td>{{ caso.progreso }} % </td>
              <td><button
                class="btn btn-warning me-3"
                title="Ver Caso"
                (click)="showCaseDetails(caso)"
              >
                <i class="pi pi-eye"></i>
              </button>
              <button
                class="btn btn-primary me-3"
                title="Editar Caso"
                (click)="editCaso(caso)"
              >
                <i class="pi pi-pencil"></i>
              </button>
              <button
                class="btn btn-info me-3"
                title="Ver Seguimientos"
                (click)="showSeguimientos(caso)"
              >
                <i class="pi pi-list"></i>
              </button>
              <button class="btn btn-secondary" title="Seguimiento del Caso" (click)="abrirModalSeguimiento(caso)">
                <i class="pi pi-key"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
        <p-toast></p-toast>
        <p-dialog [visible]="displayModalCrearCaso" [modal]="true" [style]="{ width: '50rem'}" [closable]="true">
          <ng-template pTemplate="header">
            <h4>Crear Caso</h4>
          </ng-template>
          <app-crear-caso (crearCaso)="crearCaso($event)"></app-crear-caso>
          <ng-template pTemplate="footer">
            <button class="btn btn-danger" (click)="displayModalCrearCaso = false">Cerrar</button>
          </ng-template>
        </p-dialog>
        <!-- <app-casos-realizados></app-casos-realizados> -->
      </div>
      <div *ngIf="currentSection === 'documentos'">
        <h2 class="mb-3">Gestión de Documentos</h2>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-success mb-3" (click)="formularioDocumento()">
            <i class="pi pi-plus"></i> Cargar Archivo
          </button>
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextDocumentos"
              (input)="filterDocumentos()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredDocumentos" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre del Documento</th>
              <th>Tipo del Documento</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-documento>
            <tr>
              <td>{{ documento.nombre }}</td>
              <td>{{ documento.tipo }}</td>
              <td><button
                class="btn btn-warning me-3"
                title="Ver archivo"
                (click)="visualizarDocumento(documento)"
              >
                <i class="pi pi-eye"></i>
              </button>
              <button class="btn btn-primary" title="Editar Documento" (click)="editDocumento(documento)">
                <i class="pi pi-pencil"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-dialog header="Detalles del Caso" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [contentStyle]="{'overflow':'visible'}" class="custom-modal-header">
  <div *ngIf="selectedCaso">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Asunto</th>
          <td>{{ selectedCaso.asunto }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ selectedCaso.descripcion }}</td>
        </tr>
        <tr>
          <th>Cliente</th>
          <td>{{ selectedCaso.nombreCliente }}</td>
        </tr>
        <tr>
          <th>Abogado</th>
          <td>{{ selectedCaso.nombreAbogado }}</td>
        </tr>
        <tr>
          <th>Fecha del Caso</th>
          <td>{{ selectedCaso.fechaRegistro | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Estado</th>
          <td>{{ selectedCaso.estado }}</td>
        </tr>
        <tr>
          <th>Duracion del Caso</th>
          <td>{{ selectedCaso.duracion }} Dias</td>
        </tr>
        <tr>
          <th>Fecha de Finalizacion del caso</th>
          <td>{{ selectedCaso.fechaFinalizacion | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Progreso del Caso</th>
          <td>{{ selectedCaso.progreso }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group-images">
    <h4>Imágenes Adjuntas</h4>
    <div *ngIf="(selectedCaso?.imagenes?.length ?? 0) > 0; else noImagenes">
      <div *ngFor="let imagen of selectedCaso?.imagenes">
        <shared-image-loader class="picture" [width]="120" [height]="120" [image]="imagen" [alt]="''">
        </shared-image-loader>
      </div>
    </div>
    <ng-template #noImagenes>
      <p>No hay imágenes adjuntas</p>
    </ng-template>
  </div>
  <div class="detalles-archivos">
    <h4>Archivos Adjuntos</h4>
    <div *ngIf="(selectedCaso?.archivos?.length ?? 0) > 0; else noArchivos">
      <div *ngFor="let archivo of selectedCaso?.archivos; let i = index">
        <shared-file-loader
          [file]="archivo"
          [fileName]="selectedCaso?.nombreArchivo?.[i] ?? ''"
          [fileType]="extraerTipoArchivo(archivo)">
        </shared-file-loader>
      </div>
    </div>
    <ng-template #noArchivos>
      <p>No hay archivos adjuntos</p>
    </ng-template>
  </div>
  <p-footer>
    <button type="button" pButton label="Descargar" icon="pi pi-download" class="p-button-success" (click)="downloadPDF()"></button>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="closeModal()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Editar Caso" [(visible)]="displayEditModal" [style]="{width: '50vw'}" [modal]="true">
  <div class="form-group mb-3">
    <label for="asunto">Asunto</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.asunto" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="descripcion">Descripción</label>
    <textarea pInputTextarea [(ngModel)]="selectedCasoUser.descripcion" class="form-control" rows="4"></textarea>
  </div>
  <div class="form-group mb-3">
    <label for="cliente">Cliente</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.nombreCliente" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="abogado">Abogado</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.nombreAbogado" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="fechaCita">Fecha de Registro del caso</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.fechaRegistro" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="duracion">Duracion del caso</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.duracion" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="fechaFinalizacion">Fecha de finalizacion</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.fechaFinalizacion" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="progreso" class="form-label">Progreso del Caso</label>
    <p-slider
      [(ngModel)]="selectedCasoUser.progreso"
      [min]="0"
      [max]="100"
      [step]="1"
      style="width: 100%"
    ></p-slider>
    <p class="text-center">{{ selectedCasoUser.progreso }}%</p>
  </div>
  <div class="form-group mb-3">
    <label for="estado">Estado</label>
    <select class="form-select" [(ngModel)]="selectedCasoUser.estado" required>
      <option value="Abierto">Abierto</option>
      <option value="En proceso">En Proceso</option>
      <option value="cerrado">Cerrado</option>
    </select>
  </div>
  <div class="my-4">
    <shared-upload-image
    [required]="true"
    [label]="'Cargar imágenes'"
    (deletePictureEvent)="resetFile($event)"
    [bottomLabel]="'Formatos permitidos'"
    [bottomLabelExtensionAllowed]="'png, jpeg, jpg'"
    [accept]="'image/*'"
    (eventUpload)="setFile($event)"
    [initialImages]="selectedCasoUser.imagenes"
  >
  </shared-upload-image>
  </div>
  <div class="my-4">
    <shared-upload-file
      [initialFiles]="transformedArchivos"
      (uploadComplete)="handleFileChanges($event)"
    ></shared-upload-file>
  </div>
  <p-footer>
    <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="updateCaso()"></button>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="closeEditModal()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Cargar Documento" [(visible)]="displayModalCargarDocumento" [modal]="true" [responsive]="true" [style]="{ width: '50vw' }">
  <form [formGroup]="documentForm">
    <div class="form-group mb-3">
      <label for="nombreDocumento" class="form-label">Nombre del Documento</label>
      <input type="text" id="nombreDocumento" class="p-inputtext p-component" formControlName="nombreDocumento" />
    </div>

    <div class="form-group mb-3">
      <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
      <p-dropdown id="tipoDocumento" [options]="tiposDocumentos" formControlName="tipoDocumento" placeholder="Seleccione un tipo"></p-dropdown>
    </div>

    <div class="my-4">
      <shared-upload-file (uploadComplete)="setFiles($event)"></shared-upload-file>
    </div>

    <div class="mt-3 text-center">
      <button type="submit" pButton label="Cargar" icon="pi pi-check" [disabled]="documentForm.invalid" class="p-button-success" (click)="guardarDocumento($event)"></button>
      <button type="button" pButton label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="displayModalCargarDocumento = false"></button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Seguimiento del Caso" [(visible)]="displaySeguimientoModal" [modal]="true" [style]="{ width: '50vw' }">
  <form [formGroup]="seguimientoForm">
    <div class="form-group mb-3">
      <label for="observacion">Observación</label>
      <textarea id="observacion" class="form-control" rows="4" formControlName="observacion"></textarea>
    </div>

    <div class="form-group mb-3">
      <label for="progreso" class="form-label">Progreso del Caso</label>
      <p-slider
        formControlName="progreso"
        [step]="1"
        [min]="0"
        [max]="100"
      ></p-slider>
      <p>{{ progreso }}%</p>
    </div>

    <p-footer>
      <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="guardarSeguimiento()"></button>
      <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="displaySeguimientoModal = false"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Visualizar documento" [(visible)]="displayModalDocumento" [modal]="true" [style]="{width: '30vw'}" [contentStyle]="{'overflow':'visible'}" class="custom-modal-header">
  <div class="detalles-archivos">
    <h4>Archivos Adjuntos</h4>
    <div>
      <div>
        <shared-file-loader *ngIf="selectedDocumento"
          [file]="selectedDocumento.contenido"
          [fileName]="selectedDocumento.nombreArchivo"
          [fileType]="extraerTipoArchivo(selectedDocumento.contenido)">
        </shared-file-loader>
      </div>
    </div>
    <ng-template #noArchivos>
      <p>No hay archivos adjuntos</p>
    </ng-template>
  </div>
</p-dialog>

<p-dialog header="Seguimientos del Caso" [(visible)]="displaySeguimientosModal" [modal]="true" [style]="{ width: '50vw' }">
  <ng-container *ngIf="seguimientos.length > 0; else noSeguimientos">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Observación</th>
          <th>Progreso</th>
          <th>Fecha de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seguimiento of seguimientos; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ seguimiento.observacion }}</td>
          <td>{{ seguimiento.progreso }}%</td>
          <td>{{ seguimiento.fechaRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noSeguimientos>
    <p>No se encontraron seguimientos para este caso.</p>
  </ng-template>
  <p-footer>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="displaySeguimientosModal = false"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Editar Documento" [(visible)]="displayEditModalDocumento" [style]="{width: '40vw'}" [modal]="true">
  <div class="form-group mb-3">
    <label for="nombre">Nombre del Documento</label>
    <input type="text" pInputText [(ngModel)]="selectedDocumento.nombre" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label for="tipo">Tipo del Documento</label>
    <input type="text" pInputText [(ngModel)]="selectedDocumento.tipo" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label for="archivo">Archivo</label>
    <shared-upload-file
      [initialFiles]="transformedArchivo"
      (uploadComplete)="handleFileChanges($event)"
    ></shared-upload-file>
  </div>
  <p-footer>
    <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="updateDocumento()"></button>
    <button type="button" pButton label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="closeEditModalDocumento()"></button>
  </p-footer>
</p-dialog>
<!-- <div class="container mt-4">
    <h2 class="text-center mb-4">Panel de Abogado</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-calendar-check mr-2"></i> Citas Asignadas
                    </h5>
                    <p class="card-text">Accede a la lista de citas que te han sido asignadas.</p>
                    <button class="btn btn-primary" routerLink="/citas-asignadas">Administrar Citas</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-briefcase mr-2"></i> Casos Realizados
                    </h5>
                    <p class="card-text">Revisa los casos que has manejado hasta ahora.</p>
                    <button class="btn btn-primary" routerLink="/casos-realizados">Ver Casos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-plus-circle mr-2"></i> Crear Caso
                    </h5>
                    <p class="card-text">Inicia un nuevo caso para tu gestión.</p>
                    <button class="btn btn-primary" routerLink="/crear-caso">Crear Caso</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
