<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-white p-3 d-flex flex-column justify-content-between" id="sidebar">
      <div>
        <div class="text-center mb-4 mt-4">
          <img src="assets/image/logo.png" alt="Usuario" class="img-fluid" style="width: 100px; height: 100px;">
        </div>
        <ul class="list-group text-white sidebar-list">
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Inicio
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Citas
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Casos
          </li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-danger w-100" (click)="logout()"><i class="pi pi-sign-out"></i> Cerrar Sesión</button>
      </div>
    </div>
    <div class="col container-admin">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<!-- <div class="container mt-4">
    <h2 class="text-center mb-4">Panel de Abogado</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-calendar-check mr-2"></i> Citas Asignadas
                    </h5>
                    <p class="card-text">Accede a la lista de citas que te han sido asignadas.</p>
                    <button class="btn btn-primary" routerLink="/citas-asignadas">Administrar Citas</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-briefcase mr-2"></i> Casos Realizados
                    </h5>
                    <p class="card-text">Revisa los casos que has manejado hasta ahora.</p>
                    <button class="btn btn-primary" routerLink="/casos-realizados">Ver Casos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-plus-circle mr-2"></i> Crear Caso
                    </h5>
                    <p class="card-text">Inicia un nuevo caso para tu gestión.</p>
                    <button class="btn btn-primary" routerLink="/crear-caso">Crear Caso</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
