<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 text-white p-3 d-flex flex-column justify-content-between" id="sidebar">
      <div>
        <div class="text-center mb-4 mt-4">
          <img
            src="assets/image/logo.png"
            class="img-fluid"
            alt="Usuario"
            style="width: 100px; height: 100px;"
          />
        </div>
        <ul class="list-group text-white sidebar-list">
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('inicio')">
            <i class="pi pi-home me-3 fw-bold"></i> Inicio
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('administradores')">
            <i class="pi pi-users me-3 fw-bold"></i> Administradores
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('abogados')">
            <i class="pi pi-briefcase me-3 fw-bold"></i> Abogados
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('clientes')">
            <i class="pi pi-user me-3 fw-bold"></i> Clientes
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('citas')">
            <i class="pi pi-calendar me-3 fw-bold"></i> Citas
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('casos')">
            <i class="pi pi-briefcase me-3 fw-bold"></i> Casos
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center" (click)="changeSection('documentos')">
            <i class="pi pi-file me-3 fw-bold"></i> Documentos
          </li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-danger w-100" (click)="logout()"><i class="pi pi-sign-out"></i> Cerrar Sesión</button>
      </div>
    </div>



    <!-- Contenido principal -->
    <div class="col container-admin">
      <app-navbar></app-navbar>
      <!-- Sección de Inicio -->
      <div *ngIf="currentSection === 'inicio'">
        <h2>Panel de Administrador</h2>
        <div class="row justify-content-center mt-5">
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5><i class="pi pi-users me-3 fw-bold"></i>Total de Administradores</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalAdministradores}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5><i class="pi pi-briefcase me-3 fw-bold"></i>Total de Abogados</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalAbogados}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5><i class="pi pi-user me-3 fw-bold"></i>Total de Clientes</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalClientes}}</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Fila adicional para Citas Creadas y Casos -->
        <div class="row justify-content-center mt-4">
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5><i class="pi pi-calendar me-3 fw-bold"></i>Total de Citas Creadas</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalCitas}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-sm border-0">
              <div class="card-header bg-primary text-white text-center">
                <h5><i class="pi pi-briefcase me-3 fw-bold"></i>Total de Casos</h5>
              </div>
              <div class="card-body text-center">
                <p class="card-text">{{totalCasos}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-6 text-center">
            <button
              class="btn btn-success"
              (click)="descargarReporte()"
            >
              <i class="pi pi-download"></i> Descargar Reporte Completo
            </button>
          </div>
        </div>
      </div>

      <!-- Sección de Administradores -->
      <div *ngIf="currentSection === 'administradores'">
        <h2 class="mb-3">Gestión de Administradores</h2>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-success" (click)="displayModalAdmin = true">
            <i class="pi pi-plus"></i> Registrar Administrador
          </button>
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextAdmin"
              (input)="filterAdministradores()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredAdmin" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Identificacion</th>
                <th>Nombre de Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-admin>
            <tr>
              <td>{{ admin.identificacion }}</td>
              <td>{{ admin.nombreUsuario }}</td>
              <td>{{ admin.nombre }}</td>
              <td>{{ admin.apellido }}</td>
              <td>{{ admin.email }}</td>
              <td>{{ admin.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="editUserAdmin(admin.usuarioId)" title="Editar Administrador">
                  <i class="pi pi-pencil"></i>
                </button>
                <button *ngIf="admin.usuarioId !== currentUserId" class="btn btn-danger btn-sm" (click)="eliminarUsuario(admin.usuarioId)" title="Eliminar Administrador">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Repite para Abogados y Clientes -->
      <div *ngIf="currentSection === 'abogados'">
        <h2 class="mb-3">Gestión de Abogados</h2>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-success" (click)="displayModalAbogado = true">
            <i class="pi pi-plus"></i> Registrar Abogado
          </button>
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextAbogado"
              (input)="filterAbogados()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredAbogado" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Identificacion</th>
                <th>Nombre de Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-abogado>
            <tr>
              <td>{{ abogado.identificacion }}</td>
              <td>{{ abogado.nombreUsuario }}</td>
              <td>{{ abogado.nombre }}</td>
              <td>{{ abogado.apellido }}</td>
              <td>{{ abogado.email }}</td>
              <td>{{ abogado.especialidadDescripcion }}</td>
              <td>{{ abogado.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="editUserAbogado(abogado.usuarioId)" title="Editar Abogado">
                  <i class="pi pi-pencil"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(abogado.usuarioId)" title="Eliminar Abogado">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="currentSection === 'clientes'">
        <h2 class="mb-3">Gestión de Clientes</h2>
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-success" (click)="displayModalCliente = true">
            <i class="pi pi-plus"></i> Registrar Cliente
          </button>
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchText"
              (input)="filterClientes()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredUsers" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Identificacion</th>
                <th>Nombre de Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-cliente>
            <tr>
              <td>{{ cliente.identificacion }}</td>
              <td>{{ cliente.nombreUsuario }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="editUserCliente(cliente.usuarioId)" title="Editar Cliente">
                  <i class="pi pi-pencil"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(cliente.usuarioId)" title="Eliminar Cliente">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="currentSection === 'citas'">
        <h2 class="mb-3">Gestión de Citas</h2>
        <div class="d-flex justify-content-between mb-3">
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextCitas"
              (input)="filterCitas()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredCitas" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Descripcion</th>
                <th>Abogado</th>
                <th>Cliente</th>
                <th>Fecha y Hora de la Cita</th>
                <th>Duración</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-cita>
            <tr>
              <td>{{ cita.descripcion }}</td>
              <td>{{ cita.nombreAbogado }}</td>
              <td>{{ cita.nombreCliente }}</td>
              <td>{{ cita.fechaHora | date:'dd/MM/yyyy' }}</td>
              <td>{{ cita.duracion }} Minutos</td>
              <td>{{ cita.estado }}</td>
              <td><button
                class="btn btn-primary me-3"
                title="Editar cita"
                (click)="editCita(cita)"

              >
                <i class="pi pi-pencil"></i>
              </button>
              <button class="btn btn-danger" title="Eliminar cita" (click)="eliminarCita(cita.citaId)">
                <i class="pi pi-trash"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="currentSection === 'casos'">
        <h2 class="mb-3">Gestión de Casos</h2>
        <div class="d-flex justify-content-between mb-3">
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextCasos"
              (input)="filterCasos()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredCasos" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Asunto</th>
                <th>Cliente</th>
                <th>Abogado</th>
                <th>Fecha de registro del caso</th>
                <th>Estado</th>
                <th>Tipo de Caso</th>
                <th>Progreso</th>
                <th>Fecha de finalizacion</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-caso>
            <tr>
              <td>{{ caso.asunto }}</td>
              <td>{{ caso.nombreCliente }}</td>
              <td>{{ caso.nombreAbogado }}</td>
              <td>{{ caso.fechaRegistro | date:'dd/MM/yyyy' }}</td>
              <td>{{ caso.estado }}</td>
              <td>{{ caso.tipoCaso }}</td>
              <td>{{ caso.progreso }}%</td>
              <td>{{ caso.fechaFinalizacion | date:'dd/MM/yyyy' }}</td>
              <td><button
                class="btn btn-warning me-3"
                title="Ver Caso"
                (click)="showCaseDetails(caso)"
              >
                <i class="pi pi-eye"></i>
              </button>
              <button
                class="btn btn-info me-3"
                title="Ver Seguimientos"
                (click)="showSeguimientos(caso)"
              >
                <i class="pi pi-list"></i>
              </button>
              <button class="btn btn-primary me-3" title="Editar Caso" (click)="validarEdicion(caso)">
                <i class="pi pi-pencil"></i>
              </button>
              <button class="btn btn-secondary" title="Seguimiento del Caso" (click)="abrirModalSeguimiento(caso)">
                <i class="pi pi-key"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="currentSection === 'documentos'">
        <h2 class="mb-3">Gestión de Documentos</h2>
        <div class="d-flex justify-content-between mb-3">
          <div class="input-group" style="width: 300px;">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="searchTextDocumentos"
              (input)="filterDocumentos()"
            />
            <span class="input-group-text">
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <p-table [value]="filteredDocumentos" [paginator]="true" [rows]="8" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
                <th>Nombre del Documento</th>
                <th>Tipo del Documento</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-documento>
            <tr>
              <td>{{ documento.nombre }}</td>
              <td>{{ documento.tipo }}</td>
              <td><button
                class="btn btn-warning me-3"
                title="Ver archivo"
                (click)="visualizarDocumento(documento)"
              >
                <i class="pi pi-eye"></i>
              </button>
              <button class="btn btn-primary" title="Editar Documento" (click)="editDocumento(documento)">
                <i class="pi pi-pencil"></i>
              </button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-dialog header="Detalles del Caso" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [contentStyle]="{'overflow':'visible'}" class="custom-modal-header">
  <div *ngIf="selectedCaso">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Asunto</th>
          <td>{{ selectedCaso.asunto }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ selectedCaso.descripcion }}</td>
        </tr>
        <tr>
          <th>Cliente</th>
          <td>{{ selectedCaso.nombreCliente }}</td>
        </tr>
        <tr>
          <th>Abogado</th>
          <td>{{ selectedCaso.nombreAbogado }}</td>
        </tr>
        <tr>
          <th>Fecha del Caso</th>
          <td>{{ selectedCaso.fechaRegistro | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Estado</th>
          <td>{{ selectedCaso.estado }}</td>
        </tr>
        <tr>
          <th>Duracion del Caso</th>
          <td>{{ selectedCaso.duracion }} Dias</td>
        </tr>
        <tr>
          <th>Fecha de Finalizacion del caso</th>
          <td>{{ selectedCaso.fechaFinalizacion | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Progreso del Caso</th>
          <td>{{ selectedCaso.progreso }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group-images">
    <h4>Imágenes Adjuntas</h4>
    <div *ngIf="(selectedCaso?.imagenes?.length ?? 0) > 0; else noImagenes">
      <div *ngFor="let imagen of selectedCaso?.imagenes">
        <shared-image-loader class="picture" [width]="120" [height]="120" [image]="imagen" [alt]="''">
        </shared-image-loader>
      </div>
    </div>
    <ng-template #noImagenes>
      <p>No hay imágenes adjuntas</p>
    </ng-template>
  </div>
  <div class="detalles-archivos">
    <h4>Archivos Adjuntos</h4>
    <div *ngIf="(selectedCaso?.archivos?.length ?? 0) > 0; else noArchivos">
      <div *ngFor="let archivo of selectedCaso?.archivos; let i = index">
        <shared-file-loader
          [file]="archivo"
          [fileName]="selectedCaso?.nombreArchivo?.[i] ?? ''"
          [fileType]="extraerTipoArchivo(archivo)">
        </shared-file-loader>
      </div>
    </div>
    <ng-template #noArchivos>
      <p>No hay archivos adjuntos</p>
    </ng-template>
  </div>
  <p-footer>
    <button type="button" pButton label="Descargar" icon="pi pi-download" class="p-button-success" (click)="downloadPDF()"></button>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="closeModal()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Seguimiento del Caso" [(visible)]="displaySeguimientoModal" [modal]="true" [style]="{ width: '50vw' }">
  <form [formGroup]="seguimientoForm">
    <div class="form-group mb-3">
      <label for="observacion">Observación</label>
      <textarea id="observacion" class="form-control" rows="4" formControlName="observacion"></textarea>
    </div>

    <div class="form-group mb-3">
      <label for="progreso" class="form-label">Progreso del Caso</label>
      <p-slider
        formControlName="progreso"
        [step]="1"
        [min]="0"
        [max]="100"
      ></p-slider>
      <p>{{ progreso }}%</p>
    </div>

    <p-footer>
      <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="guardarSeguimiento()"></button>
      <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="displaySeguimientoModal = false"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Editar Cita" [(visible)]="displayEditModalCita" [style]="{width: '50vw'}" [modal]="true">
  <div class="form-group mb-3">
    <label for="descripcion">Descripcion de la Cita</label>
    <input type="text" pInputText [(ngModel)]="selectCitaUser.descripcion" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="especialidad">Especialidad</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="selectCitaUser.especialidad"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group mb-3">
    <label for="cliente">Nombre del Cliente</label>
    <input type="text" pInputText [(ngModel)]="selectCitaUser.nombreCliente" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="abogado">Seleccione un Abogado</label>
    <p-dropdown
      [options]="listaAbogados"
      [(ngModel)]="selectCitaUser.abogadoId"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleccione un abogado"
      class="w-100"
    ></p-dropdown>
  </div>
  <div class="form-group mb-3">
    <label for="fechaCita">Fecha de la Cita</label>
    <input type="text" pInputText [(ngModel)]="selectCitaUser.fechaHora" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="estado">Estado de la cita</label>
    <input type="text" pInputText [(ngModel)]="selectCitaUser.estado" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="motivo">Motivo</label>
    <input type="text" pInputText [(ngModel)]="selectCitaUser.motivo" class="form-control" disabled>
  </div>
  <p-footer>
    <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="updateCita()"></button>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="closeEditModal()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Editar Caso" [(visible)]="displayEditModalCaso" [style]="{width: '50vw'}" [modal]="true">
  <div class="form-group mb-3">
    <label for="asunto">Asunto</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.asunto" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="descripcion">Descripción</label>
    <textarea pInputTextarea [(ngModel)]="selectedCasoUser.descripcion" class="form-control" rows="4" disabled></textarea>
  </div>
  <div class="form-group mb-3">
    <label for="cliente">Cliente</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.nombreCliente" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="abogado">Abogado</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.nombreAbogado" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="fechaCita">Fecha de Registro del caso</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.fechaRegistro" class="form-control" disabled>
  </div>
  <div class="form-group mb-3">
    <label for="duracion">Duracion del caso</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.duracion" class="form-control" (ngModelChange)="calcularNuevaFechaFinalizacion()" min="1">
  </div>
  <div class="form-group mb-3">
    <label for="fechaFinalizacion">Fecha de finalizacion</label>
    <input type="text" pInputText [(ngModel)]="selectedCasoUser.fechaFinalizacion" class="form-control" disabled>
  </div>
  <!-- <div class="form-group mb-3">
    <label for="progreso" class="form-label">Progreso del Caso</label>
    <p-slider
      [(ngModel)]="selectedCasoUser.progreso"
      [min]="0"
      [max]="100"
      [step]="1"
      style="width: 100%"
    ></p-slider>
    <p class="text-center">{{ selectedCasoUser.progreso }}%</p>
  </div> -->
  <div class="form-group mb-3">
    <label for="estado">Estado</label>
    <select disabled class="form-select" [(ngModel)]="selectedCasoUser.estado" required>
      <option value="Abierto">Abierto</option>
      <option value="En proceso">En Proceso</option>
      <option value="cerrado">Cerrado</option>
    </select>
  </div>
  <div class="my-4">
    <shared-upload-image
    [required]="true"
    [label]="'Cargar imágenes'"
    (deletePictureEvent)="resetFile($event)"
    [bottomLabel]="'Formatos permitidos'"
    [bottomLabelExtensionAllowed]="'png, jpeg, jpg'"
    [accept]="'image/*'"
    (eventUpload)="setFile($event)"
    [initialImages]="selectedCasoUser.imagenes"
  >
  </shared-upload-image>
  </div>
  <div class="my-4">
    <shared-upload-file
      [initialFiles]="transformedArchivos"
      (uploadComplete)="handleFileChanges($event)"
    ></shared-upload-file>
  </div>
  <p-footer>
    <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="updateCaso()"></button>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="closeEditModalCaso()"></button>
  </p-footer>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Registro de Administrador" [(visible)]="displayModalAdmin" [style]="{width: '50vw'}" [modal]="true" (onHide)="cerrarDialogoAdmin()">
  <form [formGroup]="formAdmin">
    <div class="form-group mb-3">
      <label for="identificacion">Identificación</label>
      <input type="text" pInputText formControlName="identificacion" class="form-control" maxlength="10" (keydown)="permitirSoloNumeros($event)">
      <small class="text-danger">{{ mensajeErrorIdentificacionAdmin }}</small>
    </div>
    <div class="form-group mb-3">
      <label for="nombreUsuario">Nombre de Usuario</label>
      <input type="text" pInputText formControlName="nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" pInputText formControlName="nombre" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formAdmin.get('nombre')?.invalid && formAdmin.get('nombre')?.touched">
        El nombre solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="apellido">Apellido</label>
      <input type="text" pInputText formControlName="apellido" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formAdmin.get('apellido')?.invalid && formAdmin.get('apellido')?.touched">
        El apellido solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" pInputText formControlName="email" class="form-control">
      <small class="text-danger" *ngIf="formAdmin.get('email')?.invalid && formAdmin.get('email')?.touched">
        Ingrese un correo válido.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" pInputText formControlName="password" class="form-control">
      <small class="text-muted">
        La contraseña debe tener entre 8 y 12 caracteres, caracteres especiales como .-_*?¡?
      </small>
    </div>
  </form>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Registrar" icon="pi pi-check"
        [disabled]="!formAdmin.valid"
        (click)="registerAdmin()" class="btn btn-success">
        </button>
    </div>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Registro de Cliente" [(visible)]="displayModalCliente" [style]="{width: '50vw'}" [modal]="true" (onHide)="cerrarDialogoCliente()">
  <form [formGroup]="formCliente">
    <div class="form-group mb-3">
      <label for="identificacion">Identificación</label>
      <input type="text" pInputText formControlName="identificacion" class="form-control" maxlength="10" (keydown)="permitirSoloNumeros($event)">
      <small class="text-danger">{{ mensajeErrorIdentificacionCliente }}</small>
    </div>
    <div class="form-group mb-3">
      <label for="nombreUsuario">Nombre de Usuario</label>
      <input type="text" pInputText formControlName="nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" pInputText formControlName="nombre" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formCliente.get('nombre')?.invalid && formCliente.get('nombre')?.touched">
        El nombre solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="apellido">Apellido</label>
      <input type="text" pInputText formControlName="apellido" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formCliente.get('apellido')?.invalid && formCliente.get('apellido')?.touched">
        El apellido solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" pInputText formControlName="email" class="form-control">
      <small class="text-danger" *ngIf="formAdmin.get('email')?.invalid && formAdmin.get('email')?.touched">
        Ingrese un correo válido.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" pInputText formControlName="password" class="form-control">
      <small class="text-muted">
        La contraseña debe tener entre 8 y 12 caracteres, caracteres especiales como .-_*?¡?
      </small>
    </div>
  </form>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Registrar" icon="pi pi-check"
        [disabled]="!formCliente.valid"
        (click)="registerCliente()" class="btn btn-success">
        </button>
    </div>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Registro de Abogado" [(visible)]="displayModalAbogado" [style]="{width: '50vw'}" [modal]="true" (onHide)="cerrarDialogoAdbogado()">
  <form [formGroup]="formAbogado">
    <div class="form-group mb-3">
      <label for="identificacion">Identificación</label>
      <input type="text" pInputText formControlName="identificacion" class="form-control" maxlength="10" (keydown)="permitirSoloNumeros($event)">
      <small class="text-danger">{{ mensajeErrorIdentificacionAbogado }}</small>
    </div>
    <div class="form-group mb-3">
      <label for="nombreUsuario">Nombre de Usuario</label>
      <input type="text" pInputText formControlName="nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" pInputText formControlName="nombre" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formAbogado.get('nombre')?.invalid && formAbogado.get('nombre')?.touched">
        El nombre solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="apellido">Apellido</label>
      <input type="text" pInputText formControlName="apellido" class="form-control" (keypress)="permitirSoloLetras($event)">
      <small class="text-danger" *ngIf="formAbogado.get('apellido')?.invalid && formAbogado.get('apellido')?.touched">
        El apellido solo puede contener letras.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" pInputText formControlName="email" class="form-control">
      <small class="text-danger" *ngIf="formAbogado.get('email')?.invalid && formAbogado.get('email')?.touched">
        Ingrese un correo válido.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="especialidad">Especialidad</label>
      <!-- <p-dropdown [options]="especialidades" formControlName="especialidadId" placeholder="Seleccione una especialidad" [showClear]="true" class="w-100">
      </p-dropdown> -->
      <p-multiSelect [options]="especialidades"
                 formControlName="especialidadIds"
                 placeholder="Seleccione una o más especialidades"
                 [showClear]="true"
                 [panelStyle]="{ 'max-height': '200px', 'overflow-y':'auto' }"
                 class="w-100">
      </p-multiSelect>
    </div>
    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" pInputText formControlName="password" class="form-control">
      <small class="text-muted">
        La contraseña debe tener entre 8 y 12 caracteres, caracteres especiales como .-_*?¡?
      </small>
    </div>
  </form>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Registrar" icon="pi pi-check"
        [disabled]="!formAbogado.valid"
        (click)="registerAbogado()" class="btn btn-success">
        </button>
    </div>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Editar Administrador" [(visible)]="displayEditModalAdmin" [style]="{width: '50vw'}" [modal]="true">
    <div class="form-group mb-3">
        <label for="identificacion">Identificación</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.identificacion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombre" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.apellido" class="form-control" >
    </div>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" pInputText [(ngModel)]="selectedUser.email" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="rol">Rol</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.rolDescripcion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="estado">Estado</label>
        <p-dropdown [options]="estados" [(ngModel)]="selectedUser.estado" optionLabel="label" optionValue="value" placeholder="Selecciona un estado"></p-dropdown>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Actualizar" icon="pi pi-check" (click)="updateUserAdmin()" class="btn btn-success"></button>
    </div>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Editar Abogado" [(visible)]="displayEditModalAbogado" [style]="{width: '50vw'}" [modal]="true">
    <div class="form-group mb-3">
        <label for="identificacion">Identificación</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.identificacion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombre" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.apellido" class="form-control" >
    </div>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" pInputText [(ngModel)]="selectedUser.email" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="rol">Rol</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.rolDescripcion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="estado">Estado</label>
        <p-dropdown [options]="estados" [(ngModel)]="selectedUser.estado" optionLabel="label" optionValue="value" placeholder="Selecciona un estado"></p-dropdown>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Actualizar" icon="pi pi-check" (click)="updateUserAbogado()" class="btn btn-success"></button>
    </div>
</p-dialog>

<p-toast></p-toast>
<p-dialog header="Editar Cliente" [(visible)]="displayEditModalCliente" [style]="{width: '50vw'}" [modal]="true">
    <div class="form-group mb-3">
        <label for="identificacion">Identificación</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.identificacion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombreUsuario" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombre" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.apellido" class="form-control" >
    </div>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" pInputText [(ngModel)]="selectedUser.email" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="rol">Rol</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.rolDescripcion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="estado">Estado</label>
        <p-dropdown [options]="estados" [(ngModel)]="selectedUser.estado" optionLabel="label" optionValue="value" placeholder="Selecciona un estado"></p-dropdown>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Actualizar" icon="pi pi-check" (click)="updateUserCliente()" class="btn btn-success"></button>
    </div>
</p-dialog>

<p-dialog header="Visualizar documento" [(visible)]="displayModalDocumento" [modal]="true" [style]="{width: '30vw'}" [contentStyle]="{'overflow':'visible'}" class="custom-modal-header">
  <div class="detalles-archivos">
    <h4>Archivos Adjuntos</h4>
    <div>
      <div>
        <shared-file-loader *ngIf="selectedDocumento"
          [file]="selectedDocumento.contenido"
          [fileName]="selectedDocumento.nombreArchivo"
          [fileType]="extraerTipoArchivo(selectedDocumento.contenido)">
        </shared-file-loader>
      </div>
    </div>
    <ng-template #noArchivos>
      <p>No hay archivos adjuntos</p>
    </ng-template>
  </div>
</p-dialog>

<p-dialog header="Editar Documento" [(visible)]="displayEditModalDocumento" [style]="{width: '40vw'}" [modal]="true">
  <div class="form-group mb-3">
    <label for="nombre">Nombre del Documento</label>
    <input type="text" pInputText [(ngModel)]="selectedDocumento.nombre" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label for="tipo">Tipo del Documento</label>
    <input type="text" pInputText [(ngModel)]="selectedDocumento.tipo" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label for="archivo">Archivo</label>
    <shared-upload-file
      [initialFiles]="transformedArchivo"
      (uploadComplete)="handleFileChanges($event)"
    ></shared-upload-file>
  </div>
  <p-footer>
    <button type="button" pButton label="Guardar" icon="pi pi-check" class="p-button-success" (click)="updateDocumento()"></button>
    <button type="button" pButton label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="closeEditModalDocumento()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Seguimientos del Caso" [(visible)]="displaySeguimientosModal" [modal]="true" [style]="{ width: '50vw' }">
  <ng-container *ngIf="seguimientos.length > 0; else noSeguimientos">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Observación</th>
          <th>Progreso</th>
          <th>Fecha de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seguimiento of seguimientos; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ seguimiento.observacion }}</td>
          <td>{{ seguimiento.progreso }}%</td>
          <td>{{ seguimiento.fechaRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noSeguimientos>
    <p>No se encontraron seguimientos para este caso.</p>
  </ng-template>
  <p-footer>
    <button type="button" pButton label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="displaySeguimientosModal = false"></button>
  </p-footer>
</p-dialog>

<!-- <p-toast></p-toast>
<p-dialog header="Editar Estado del Usuario" [(visible)]="displayEditModal" [style]="{width: '50vw'}" [modal]="true">
    <div class="form-group mb-3">
        <label for="identificacion">Identificación</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.identificacion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombreUsuario" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.nombre" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.apellido" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" pInputText [(ngModel)]="selectedUser.email" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="rol">Rol</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.rolDescripcion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="especialidad">Especialidad</label>
        <input type="text" pInputText [(ngModel)]="selectedUser.especialidadDescripcion" class="form-control" disabled>
    </div>
    <div class="form-group mb-3">
        <label for="estado">Estado</label>
        <p-dropdown [options]="estados" [(ngModel)]="selectedUser.estado" optionLabel="label" optionValue="value" placeholder="Selecciona un estado"></p-dropdown>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" pButton label="Actualizar" icon="pi pi-check" (click)="updateUser()" class="btn btn-success"></button>
    </div>
</p-dialog> -->
