<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-white p-3 d-flex flex-column justify-content-between" id="sidebar">
      <div>
        <div class="text-center mb-4 mt-4">
          <img src="assets/image/logo.png" alt="Usuario" class="img-fluid" style="width: 100px; height: 100px;">
        </div>
        <ul class="list-group text-white sidebar-list">
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Inicio
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Casos
          </li>
          <li class="list-group-item border-0 border-bottom d-flex align-items-center">
            <i class="pi pi-home me-3 fw-bold"></i> Citas
          </li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-danger w-100" (click)="logout()"><i class="pi pi-sign-out"></i> Cerrar Sesión</button>
      </div>
    </div>
    <div class="col container-admin">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<!-- <div class="container mt-5">
    <h2 class="text-center mb-4">Panel de Cliente</h2>
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/gestion-casos']" class="card shadow-lg text-decoration-none text-dark">
                <div class="card-body text-center">
                    <i class="pi pi-folder-open" style="font-size: 2em;"></i>
                    <h4 class="card-title">Casos</h4>
                    <p class="card-text">Accede a la gestión de casos</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a  [routerLink]="['/citas']" class="card shadow-lg text-decoration-none text-dark">
                <div class="card-body text-center">
                    <i class="pi pi-calendar" style="font-size: 2em;"></i>
                    <h4 class="card-title">Citas</h4>
                    <p class="card-text">Administra tus citas</p>
                </div>
            </a>
        </div>
    </div>
</div> -->

