<app-navbar></app-navbar>
<div class="container mt-5">
    <h2 class="text-center mb-4">Panel de Cliente</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="/gestion-casos" class="card shadow-lg text-decoration-none text-dark">
                <div class="card-body text-center">
                    <i class="pi pi-folder-open" style="font-size: 2em;"></i>
                    <h4 class="card-title">Casos</h4>
                    <p class="card-text">Accede a la gestión de casos</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/citas" class="card shadow-lg text-decoration-none text-dark">
                <div class="card-body text-center">
                    <i class="pi pi-calendar" style="font-size: 2em;"></i>
                    <h4 class="card-title">Citas</h4>
                    <p class="card-text">Administra tus citas</p>
                </div>
            </a>
        </div>
    </div>
</div>
  
