<div class="container mt-4">
  <p-table [value]="casos">
    <ng-template pTemplate="header">
      <tr>
        <th>Asunto</th>
        <th>Cliente</th>
        <th>Abogado</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-caso>
      <tr>
        <td>{{ caso.asunto }}</td>
        <td>{{ caso.nombreCliente }}</td>
        <td>{{ caso.nombreAbogado }}</td>
        <td>{{ caso.fechaCita | date : "mediumDate" }}</td>
        <td>
          <button
            class="btn btn-warning me-3"
            (click)="showCaseDetails(caso)"
            title="Ver Caso"
          >
            <i class="pi pi-eye"></i>
          </button>
          <button
            class="btn btn-primary"
            title="Editar Caso"
            (click)="editCaso(caso)"
          >
            <i class="pi pi-pencil"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Detalles del Caso"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  class="custom-modal-header"
>
  <div *ngIf="selectedCaso">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Asunto</th>
          <td>{{ selectedCaso.asunto }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ selectedCaso.descripcion }}</td>
        </tr>
        <tr>
          <th>Cliente</th>
          <td>{{ selectedCaso.nombreCliente }}</td>
        </tr>
        <tr>
          <th>Abogado</th>
          <td>{{ selectedCaso.nombreAbogado }}</td>
        </tr>
        <tr>
          <th>Fecha</th>
          <td>{{ selectedCaso.fechaCita | date : "medium" }}</td>
        </tr>
        <tr>
          <th>Estado</th>
          <td>{{ selectedCaso.estado }}</td>
        </tr>
        <tr>
          <th>Imagenes</th>
          <td>{{ selectedCaso.imagenes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group-images">
    <div *ngFor="let imagen of selectedCaso?.imagenes">
      <shared-image-loader class="picture" [width]="120" [height]="120" [image]="imagen" [alt]="''">
      </shared-image-loader>
    </div>
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      label="Descargar"
      icon="pi pi-download"
      class="p-button-success"
      (click)="downloadExcel()"
    ></button>
    <button
      type="button"
      pButton
      label="Cerrar"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="closeModal()"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog header="Editar Caso" [(visible)]="displayEditModal" [style]="{ width: '50vw' }" [modal]="true">
  <div class="form-group mb-3">
    <label for="asunto">Asunto</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="selectedCasoUser.asunto"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group mb-3">
    <label for="descripcion">Descripción</label>
    <textarea
      pInputTextarea
      [(ngModel)]="selectedCasoUser.descripcion"
      class="form-control"
      rows="4"
    ></textarea>
  </div>
  <div class="form-group mb-3">
    <label for="cliente">Cliente</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="selectedCasoUser.nombreCliente"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group mb-3">
    <label for="abogado">Abogado</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="selectedCasoUser.nombreAbogado"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group mb-3">
    <label for="fechaCita">Fecha</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="selectedCasoUser.fechaCita"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group mb-3">
    <label for="estado">Estado</label>
    <select class="form-select" [(ngModel)]="selectedCasoUser.estado" required>
      <option value="Abierto">Abierto</option>
      <option value="En proceso">En Proceso</option>
      <option value="Cerrado">Cerrado</option>
    </select>
  </div>

  <div class="my-4">
    <shared-upload-image
    [required]="true"
    [label]="'Cargar imágenes'"
    (deletePictureEvent)="resetFile($event)"
    [bottomLabel]="'Formatos permitidos'"
    [bottomLabelExtensionAllowed]="'png, jpeg, jpg'"
    [accept]="'image/*'"
    (eventUpload)="setFile($event)"
    [initialImages]="selectedCasoUser.imagenes"
  >
  </shared-upload-image>
  </div>

  <p-footer>
    <button
      type="button"
      pButton
      label="Guardar"
      icon="pi pi-check"
      class="p-button-success"
      (click)="updateCaso()"
    ></button>
    <button
      type="button"
      pButton
      label="Cerrar"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="closeEditModal()"
    ></button>
  </p-footer>
</p-dialog>
