html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que html y body ocupen el 100% del viewport */
  overflow: hidden; /* Evita las barras de desplazamiento */
}

.container-fluid {
  padding: 0;
  height: 100%; /* Asegura que el contenedor ocupe el 100% del viewport */
}

.row {
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  background-color: #fff; /* Color de fondo blanco */
}

.login-form {
  max-width: 400px;
  width: 100%; /* Asegura que el formulario ocupe el 100% del contenedor */
}

.login-bg {
  background-size: contain; /* Asegura que la imagen se ajuste sin cubrir todo el fondo */
  background-position: center;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img-fluid.centered-image {
  max-width: 80%; /* Asegura que la imagen no sea demasiado grande */
  max-height: 80%; /* Mantiene la proporción de la imagen */
  height: auto;
  width: auto;
  margin: auto; /* Centra la imagen verticalmente */
  display: block;
}

.d-flex.justify-content-center {
  justify-content: center !important; /* Centra el botón "Ingresar" */
}

.input-icon {
  display: flex;
  align-items: center;
  height: 100%; /* Asegura que los iconos tengan la misma altura que los campos de entrada */
  padding: 0.375rem 0.75rem; /* Ajusta el padding para que coincida con los inputs */
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave alrededor del formulario */
  border-radius: 10px; /* Añade un borde redondeado para una apariencia más agradable */
}
